:root{
    --primary-brand: #4D5AE5;
    --pressed-state: #404BBF;
    --dark: #2E2F42;
    --success: #31D0AA;
    --text: #434455;
    --subtle-text: #8E8F99;
    --accent:#E7E9FC;
    --light: #F4F4FD;
    --modal-overlay: #2E2F42;
    --hero-background: #2E2F42;
    --white: #ffffff;

    --main-font: 'Roboto', sans-serif;
    --scnd-font: 'Raleway', sans-serif;

    --items: 4;
    --indent: 24px;
    --indent-scnd: 48px;

}

body {
    background-color: var(--background);
    font-family: var(--main-font);
    letter-spacing: 0.02em;
    color: var(--dark)
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

}
a {
    text-decoration: none;
    
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
button {
    cursor: pointer;
}
.link {
    text-decoration: none;
    color: currentColor;
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* reset end */
.about,
.price,
.benefits,
.team,
.gallery,
.contacts,
.booking {
    padding-top: 120px;
    padding-bottom: 120px;
}

/* main header */
.header {
    border-bottom: 1px solid var(--accent);
}
.container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
}

.header-container {
    display: flex;
    align-items: center;

}
.logo {
    font-family: var(--scnd-font);
    font-size: 18px;
    line-height: calc(24/18);
    font-weight: 800;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-brand);
    margin-right: 76px;
}
.logo-studio {
    color: var(--dark);
}

.header-nav {
    margin-right: auto;
}
.nav-list {
    line-height: calc(24/16);
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 0;
    margin: 0;
}
.nav-items {
    color: var(--dark);
}
.nav-items-active {
    color: var(--pressed-state);
}
.nav-items-active:hover {
    color: var(--pressed-state);
}
.nav-items-active:focus {
    color: var(--pressed-state);
}

.nav-items:hover{
    color: var(--pressed-state);
}
.nav-items:focus {
    color: var(--pressed-state);
}
.adress-list {
    font-style: normal;
    line-height: calc(24/16);
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 0;
}
.adress-items {
    color: var(--text);
}
.adress-items:hover {
    color: var(--pressed-state);
}
.adress-items:focus {
    color: var(--pressed-state);
}
.logo,
.nav-items,
.nav-items-active,
.adress-items {
    display: block;   
    padding-top: 20px;
    padding-bottom: 20px; 
}
/* hero image */
.hero-img {
    background-color: var(--hero-background);
    padding-top: 188px;
    padding-bottom: 188px;

}

.hero-title {
    color: var(--white);
    font-size: 56px;
    line-height: calc(60/50);
    font-weight: 700;
    text-align: center;
    max-width: 494px;
    margin-left: auto;
    margin-right: auto;
    
}
.hero-button {
    background: var(--primary-brand);
    color: var(--white);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 1px solid var(--primary-brand);
    font-family: var(--main-font);
    letter-spacing: 0.04em;
    margin-top: 46px;
    padding: 16px 32px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    
}
.hero-button:hover {
    background: var(--pressed-state);
}
.hero-button:active {
    background-color: var(--pressed-state);
}

/* section-1 */
.sct-container {
    padding-top: 120px;

}
.sct-frs-list {
    display: flex;
    align-items: flex-start;
    gap: 22px;
    margin: 0;
    padding: 0;
}
.sct-frs-items {
    flex-basis: calc(100%-var(--indent)*(var(--items)-1))/var(--items);
    padding-top: 120px;
}
.sct-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: calc(24/20);
    margin-bottom: 8px;

}   
.sct-text { 
    line-height: calc(24/16);
    color: var(--text);
}



/* section-2 */
.sct-title {
    font-size: 36px;
    line-height: calc(40/36);
    text-align: center;
    text-transform: capitalize;
    /* margin-top: 120px; */
    padding-top: 120px;
    /* margin-bottom: 72px; */
}
.sct-scnd-container {
    padding-bottom: 120px;
}
.img-list {
    display: flex;
    justify-content: space-between;
    gap: var(--indent);
    margin: 0;
    padding: 0;
    padding-top: 72px;
}

/* section-3 */
.sct-team {
    background: var(--light);
    min-height: 732px;
}
.sct-title-team {
    font-size: 36px;
    line-height: calc(40/36);
    text-align: center;
    text-transform: capitalize;
    /* margin-top: 120px; */
    margin-bottom: 72px;
    /* padding-top: 120px; */
}

.sct-thrd-container {
    padding-top: 120px;
}
.sct-list {
    display: flex;
    justify-content: space-between;
    gap: var(--indent);
    margin: 0;
    padding: 0;
    
}
.sct-items {
    background: var(--white);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    text-align: center;
}
.sct-subtitle-team{
    font-weight: 500;
    font-size: 20px;
    line-height: calc(24/20);
    margin-bottom: 8px;
    padding-top: 32px;
}

.sct-text-team {
    padding-bottom: 32px;
}

/* footer */
.ftr {
    background: var(--hero-background);
    min-height: 310px; 
}
.footer-container {
    padding-top: 100px;
}
.ftr-logo {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    line-height: calc(24/18);
    font-weight: 800;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-brand);
    
}
.ftr-logo-studio {
    color: var(--white);
}
.ftr-text {
    line-height: calc(24/16);
    color: var(--accent);
    width: 264px;
    padding-top: 16px;
}


/* PORTFOLIO */
/* filter */
.filter-list {
    display: flex;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    gap: var(--indent);
    margin: 96px 0px 0px 0px;
    padding: 0;
}
.filter-btn {
    background: var(--light);
    border: 1px solid var(--accent);
    border-radius: 4px;
    letter-spacing: 0.04em;
    color: var(--primary-brand);
    font-family: var(--main-font);
    padding: 12px 24px;
    
}
.filter-btn:hover {
    background: var(--pressed-state);
    color: var(--white);
}
.filter-btn:focus {
    background: var(--pressed-state);
    color: var(--white);
}
.filter-container {
    margin-top: 72px;
    margin-bottom: 120px;
}

.row-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: var(--indent-scnd) var(--indent);
    margin: 0;
    padding: 0;
}

.row-items {
    flex-basis: calc(100%-var(--indent)*(var(--items)-1)/var(--items));
}

.row-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: calc(24/20);
    margin-top: 32px;
    padding-bottom: 8px;
    margin-left: 12px;
}

.row-text {
    line-height: calc(24/16);
    color: var(--text);
    padding-bottom: 32px;
    margin-left: 12px;
}